wp-content/uploads/
wp-content/plugins.off/
wp-content/cache/
wp-content/upgrade/
wp-content/debug.log
.DS_Store
node_modules/
wp-content/plugins.off/
wp-content/upgrade-temp-backup/
wp-content/jetpack-waf/
wp-content/fonts/

# Ignore all plugins except newspack
wp-content/plugins/*
!wp-content/plugins/newspack-*/
!wp-content/plugins/newspack-*/**

# Ignore all themes except newspack
wp-content/themes/*
!wp-content/themes/newspack-*/
!wp-content/themes/newspack-theme
!wp-content/themes/newspack-*/**
